.profile-history-container {
    margin-bottom: 0px;
    .profile-history-text {
        margin: 44px 0px;
        font-size: 14px;
    }
    .link{
        line-height: 21px;
        text-decoration-line: underline;
        color: #0066FF;
        margin-left: 5px;
        font-size: 14px;
        font-weight: normal;
    }

    .profile-history-content {
        margin-left: 10px;
        margin-top: 20px;
    }

    hr {
        max-width: 305px;
        border: 1px solid #E0E0E0;
    }

    .navigation {
        display: inline-block;
        width: 100%;

        .button.right {
            float: right;
        }
    }
}