@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmare resetare parolă";
}

<div class="login-page">

    <div class="login-form-wrapper">
        <img src="~/stamacasa.svg" alt="logo" role="logo">
        <div class="container __login-form-container">
            <h1 class="subtitle is-size-3">Mulțumim!</h1>
            <br />
            Te rugăm să îți verifici căsuța de e-mail pentru finalizarea procesului de resetare a parolei.
        </div>
    </div>
</div>
