################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.idea
/frontend/obj/Docker/CanonicalServiceNames.cache
**/postgres_data