.dashboard-table{
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-size: 12px;
  thead {
    font-size: 14px;
  }
}

.view-all {
  background-color: #2D9CDB !important;
  color: white !important;
  margin: 20px auto 0px auto;
  display: block !important;
}

.table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 15px;
  font-size: 12px;
  thead {
    font-size: 14px;
  }

  &.danger-table {
    th {
      color: #EB5757;
    }
  }
  &.info-table {
    th {
      color: #2F80ED;
    }
  }
  .last-column {
    width: 10px;
  }

  &.bordered {
    border-collapse: collapse;
    td {
      vertical-align: middle;
      padding: 5px 10px;
      border: 1px solid #E5E5E5;

      &:first-child { border-left: 0;}
      &:last-child { border-right: 0;}
    }
    th {
      padding: 5px 10px;
      border: 1px solid #E5E5E5;
    }
    tr:first-child {
      td {
        border-top: 0;
      }
    }
    tr:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}
.resend-button {
  background: none;
  text-align: center;
  display: block;
  color: #6FCF97;
  border: 1px solid #6FCF97;
  margin-left: 20px;
  padding: 3px 15px;
}

.border-0 {
  border: 0 !important;
}