body {
    background-color: #e8e8e9;

    font-family: 'Roboto', sans-serif !important;
}


.custom_padding{
    padding-left: 5px !important;
    padding-right: 5px !important;

}

.card{
    height: 125px;
    border-radius: 2px;
    font-weight: 300;
}

.bg{
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius:4px;
    height: 400px;
    box-shadow: 1px 1px 1px -1px rgba(100,100,100,.5);
}


.shadow {
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
}

.hr-custom {
    border: 0;
    height: 1px;
    background-color: rgba(100, 100, 100, 0.2);
    margin-bottom: 10px !important;
    -background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(100, 100, 100, 0.5), rgba(0, 0, 0, 0));
}

.panel-header
{
    height:50px;
    background-color: #f4f4f4;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #dbdbdb;
    padding:10px 20px 10px 20px;
    margin-bottom: 20px;
}

.range-custom{
    padding-bottom: 10px;
    padding-left: 5px;
}

.range-custom-child{
    line-height:30px;
}

.range-span{
    color:#7f7f85;
    padding-right:10px;
}

.padding-left-5{
    padding-left: 5px;
}

.card_header {
    padding: 10px 10px 5px 10px;
    color: #ffffff;
}

.card_body{
    text-align: center;
    color:#ffffff;
    font-size: 3em;
    font-weight: 400;
}

.panel-title{
    color:#6e6e74;
    font-size: 1.5em;
    font-weight: 300;
}

.line-height-30{
    line-height: 30px;
}

.margin-below-20{
    margin-bottom: 20px;
}



.line {
    fill: none;
    stroke: #53c79f;
    stroke-width: 3px;
}

.axis {
    fill: #a3a3a7;
}


.axis path,
.axis line {
    fill: none;
    stroke: #ececed;
    shape-rendering: crispEdges;

}

.axis text {
    font-size: 12px;
}

.y-grid .tick{
    stroke: #ececed;
    opacity: 1;
}

.y-grid path,
.y-grid line {
    fill: none;
    stroke: #ececed;
    shape-rendering: crispEdges;
    opacity: 1;

}

.dot{
    fill:#FFFFFF;
    stroke:#53c79f;
    stroke-width:2px;

}

.area{
    opacity: .9    ;
    stroke: #fff;
    stroke-width:2px;
}

