.profile-history-container {
    margin-bottom: 200px;
    .profile-history-text {
        margin: 44px 0;
        font-size: 14px;
    }
    .link{
        line-height: 21px;
        text-decoration-line: underline;
        color: #0066FF;
        margin-left: 5px;
    }
    
    .profile-history-content {
        margin-left: 10px;
        margin-top: 20px;
    }
    
    hr {
        max-width: 305px;
        border: 1px solid #E0E0E0;
    }
}