.dashboard-wrapper {
  .searchInput {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.4rem;
    margin: 0 auto;
    width: 422px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #C1C1C1;
    background: url("../../images/search-icon.svg") no-repeat 34px 50%;
    padding: 0 65px;
    font-size: 14px;
  }
  .header-wrapper {
    border-bottom: 1px solid #C1C1C1;
  }
  .App-header  {
    border-bottom: 0 !important;
  }
  .main-section {
    margin-top: 0px;
    justify-content: flex-end;
  }
  .main {
    padding: 40px;
    height: 100%;
    position: fixed;
    overflow: auto;
    background: rgba(255, 189, 89, 0.1);
    width: calc(100% - 280px)
  }
}
