@model IdentityServer.Quickstart.Account.LoginViewModel

<div class="login-page">

    <partial name="_ValidationSummary" />


        @if (Model.EnableLocalLogin)
        {
        <div class="login-form-wrapper">
        <img src="~/stamacasa.svg" alt="logo" role="logo">
        <div class="container __login-form-container">
            <h1 class="subtitle is-size-2">LOGIN</h1>

            <form asp-route="Login">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="container">
                    <div class="field">
                        <label asp-for="Username" class="label"></label>
                        <div class="control is-expanded">
                            <input class="input is-medium" placeholder="Email" asp-for="Username" type="email" autofocus>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="Password" class="label"></label>
                        <div class="control is-expanded">
                            <input type="password" class="input is-medium" placeholder="Password" asp-for="Password" autocomplete="off">
                        </div>
                    </div>
                        @if (Model.AllowRememberLogin)
                        {
                        <div class="container __login-form-options">
                            <label class="__checkbox-label" asp-for="RememberLogin">
                              <input type="checkbox" name="remember" asp-for="RememberLogin">
                              <span class="__checkbox-custom"></span>
                                  Remember me
                            </label>
                          <div>
                            <a href="/register">Ai uitat parola?</a>
                          </div>
                        </div>

                        }
                    <div class="container has-text-centered __login-form-button-container">
                        <button type="submit" name="button" value="login" class="button is-primary is-medium">Login</button>
                    </div>
                </div>
            </form>


            <div style="margin-top: 40px;">
                <p>Development info:</p>
                <p>Default user is alice@test.com password is Alice123*</p>
            </div>
        </div>
        </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-6 col-sm-6 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Login</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }
</div>
