.user-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  .user-profile-form-container {
    width: 100%;
    padding: 1rem;
  }

  .dropdown-search-filter__name {
    font-style: normal;
  }
  .dropdown-search-filter__icon {
    width: 10px;
  }

  * {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .select select:not([multiple]) {
    text-align-last: center;
    padding: inherit;
  }

  button {
    background: #ffbd59;
    width: 50%;
  }
  .list-header {
    background: #3c2653;
    text-align: center;
  }
}
