.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.info {
    background-color: blue;
  }

  &.error {
    background-color: #EB5757;
  }
}