@import "./styles/base.scss";

html {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

.main-content {
  padding: 0 20px;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .main-content {
    padding: 0 100px;
  }
}
