@import "./styles/base.scss";

html {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

#mainContent {
  padding: 0 20px;
}

@media screen and (min-width: 1024px) {
  #mainContent {
    padding: 0 100px;
  }
}
