@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap");

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/grid/columns.sass";

@import "~bulma/sass/components/tabs";
