.App-header {
  nav {
    button {
      font-size: 16px;
      border: none;
      color: #000;
      text-decoration: none;
      margin: 0px 10px;
      padding: 0.25rem 0.75rem;
    }

    button:hover {
      background: #fafafa;
    }
  }
  nav * {
    vertical-align: middle;
  }

  .account-items {
    margin-left: 20px;

    .account-separator {
      display: inline-block;
      height: 30px;
      border-left: 1px solid #000;
    }
  }
}
