.App-header {
  nav * {
    vertical-align: middle;
  }

  .account-items {
    margin-left: 20px;

    .account-separator {
      display: inline-block;
      height: 30px;
      border-left: 1px solid #000;
    }
  }
}
